html {
  background: #f2f1f4;
  color: #19171c;
}
.description {
  display: none;
}
.active + div {
  display: block;
}

.title {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 0;
  max-width: 450px;
}

.title:hover {
  filter: brightness(85%);
}
.description {
  max-width: 400px;
}
