html {
  background: #f1f2f4;
  color: #19171c;
  display: flex;
  justify-content: center;
}
.description {
  display: none;
}
.active + div {
  display: block;
}

.title {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 0;
  width: 70vw;
  border-radius: 5px;
  padding: 20px;
  border: #1c2582;
  border-style: solid;
  margin: 8px;
}

.title:hover {
  filter: brightness(85%);
}
.description {
  max-width: 65vw;
  margin-left: 15px;
}
.accordion {
  border-width: 5px;
  border: #1c2582;
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
  background-color: whitesmoke;
}
